body {
    background-color: #10151A;
    color: rgb(255, 255, 255);
}

.head-propraganda{
    margin-bottom: 5%;
}


.product-card {
    color: white;
    transition: transform 0.2s;
    background-color: #192b3a;
}

.product-card .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card:hover {
    transform: scale(1.05);
}

.filters {
    margin-bottom: 20px;
}

.gradient{
    background: linear-gradient(90deg, #006eff, #c628ff);
}

.gradient2{
    background: linear-gradient(90deg, #ff0000, #6200ff);
}


.price {
    color: #28a745;
    font-size: 1.2rem;
}

.product-img {
    height: 200px;
    object-fit: cover;
}