body {
    background-color: #18181b;
    color: #fff;
}

.navbar {
    background-color: #292b2f;
}

.navbar-brand {
    color: #9147ff;
    font-weight: bold;
    margin-left: 80px;
}

.navbar-toggler {
    position: absolute;
}

.side-bar {
    background-color: #1f1f23;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    z-index: 1000;
    transition: all 0.3s ease;
}

.side-bar.show {
    left: 0;
}

.side-bar h5 {
    color: #fff;
    margin-bottom: 20px;
    padding-left: 15px;
}

.side-bar .channel {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-left: 15px;
    color: #fff;
}

.side-bar .channel img {
    border-radius: 50%;
    margin-right: 10px;
}

footer {
    background-color: #292b2f;
    color: #fff;
    padding: 10px;
    text-align: center;
}



@media only screen and (min-width: 1180px) {
    #canaisSeguidosCollapse {
        display: block;
        left: 0;
    }

    .recomendados {
        margin-top: 5%;
        margin-left: 80%;
        width: 17%;
    }

    .seguindo {
        margin-top: -575px !important;
        margin-left: 15%;
        width: 70%;
    }

    .seguindo1 {
        margin-top: -297px;
        margin-left: 35.3%;
        width: 16.24%;
    }

    .seguindo2 {
        margin-top: -297px;
        margin-left: 55%;
        width: 16.24%;
    }

    .destaque {
        margin-left: 12%;
    }

    .navbar-brand {
        display: none;
    }

    .footer {
        margin-top: 500px;
    }
}

@media (min-width: 768px) and (max-width: 1179px) {
    .destaque {
        max-width: 95%;
        margin: 0 auto;
    }

    .recomendados {
        margin-left: 60%;
        width: 30%; 
        margin-bottom: -175px;
    }

    .seguindo {
        margin-top: -349px !important;
        margin-left: 15.5%;
        width: 1080px;
    }

    .seguindo1 {
        margin-top: 40px;
        margin-left: 16.95%;
        width: 30%;
    }

    .seguindo2 {
        margin-top: 40px;
        margin-left: 16.95%;
        width: 30%;
    }
}