body {
    background-color: #18181b;
    color: #fff;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #292b2f;
}

.navbar-brand {
    color: #9147ff;
    font-weight: bold;
    margin-left: 80px;
}

.navbar-toggler {
    position: absolute;
}

.side-bar {
    background-color: #1f1f23;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
    top: 0;
    width: 250px;
    z-index: 1000;
    transition: all 0.3s ease;
    overflow-y: auto;
}

.side-bar h5, .side-bar h6 {
    color: #fff;
    padding-left: 15px;
}

.side-bar ul {
    padding-left: 0;
}

.side-bar li {
    list-style-type: none;
}

.side-bar .rounded-circle {
    width: 40px;
    height: 40px;
}

.main-content {
    margin-left: 250px; /* Isso garante que o conteúdo principal não sobreponha a sidebar */
    transition: margin-left 0.3s ease;
}

footer {
    background-color: #292b2f;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilização para os Cards de Vídeos */
.card {
    background-color: #1e1e22;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.card-body {
    color: #fff;
}

.live-label {
    background-color: #ff0000;
    color: #fff;
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 0.8rem;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media only screen and (min-width: 1180px) {
    .side-bar {
        left: 0;
    }
    .navbar-brand{
        display: none;
    }
    .main-content {
        margin-left: 250px; 
    }

    .recomendados h5, .seguindo h5 {
        font-size: 1.25rem;
        font-weight: bold;
        color: #9147ff;
        margin-bottom: 20px;
        text-align: center;
    }

    .row {
        display: flex;
        justify-content: space-between;
    }

    .card {
        margin-bottom: 30px;
    }

    .card-body {
        padding: 15px;
    }

    .card-body strong {
        font-size: 10px;
    }

    .card-body small {
        color: #b3b3b3;
    }

    .destaque {
        margin: 0 auto; 
        width: 70%; 
    }

    .destaque iframe {
        height: 400px; 
    }

    .footer {
        margin-top: 500px;
    }
}

@media (max-width: 1179px) {

    .side-bar {
        left: -250px; 
    }

    .main-content {
        margin-left: 0; 
    }

    .side-bar.show {
        left: 0;
    }
}
